@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
  url('../fonts/satoshi/Satoshi-Medium.woff') format('woff'),
  url('../fonts/satoshi/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
  url('../fonts/satoshi/Satoshi-Regular.woff') format('woff'),
  url('../fonts/satoshi/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
